@import "../../styles/mixins.scss";

.shop-filters__container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.shop-filters__container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.shop-filters__container::-webkit-scrollbar-thumb {
    background-color: var(--action);
    border: 1px solid #0c66b9;
    border-radius: 14px;
    max-width: 1%;
}

.shop-filters {
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__block{
       
         @include panel-style-borderBg;
         &-display{
            display: flex;
         }
    }
    &__container {
        position: sticky;
        top: 5.8rem;
        left: 0;
        color: black;
        border: 1px solid #ddd;
        border-radius: 10px;
        max-width: 339px;
       width: 339px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #bbb #f2f2f2;
          &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
        padding-bottom: 50px;
        @media (max-width: 991.98px) {
                max-width: unset;
                    border: none;
                width: 100%;
            color: #fff;
            text-align: center;
        }
        //  @media (max-width: 450px) {
        //     max-width: 280px;

        //  }
    }
    &__body {
        height: 100%;
        color: black;
        display: flex;
        flex-direction: column;
    }
   
    &__label {
        font-weight: 500;
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }
    &__input {
  appearance: none; /* прибирає стандартні стрілочки */
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
max-width: 320px;
width: 100%;


&:focus{
     outline: none;
  border-color: #999;
  }
  &:hover{
    border-color: #888;
  }

        @media only screen and (max-width: 991.98px) {
            color: #888888;
        }
    }
    &__button {
        padding: 8px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        margin-top: 8px;
        color: #000;
        margin: 19px 19px 20px;
    }
    &__checkbox-label {
        font-size: 14px;
        margin-top: 2px;
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.shopAndHamburger {
    @media (max-width: 991.98px) {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .shop-filters {
      
       
        &__button {
            background: var(--action);
            border: solid 1px #e24c1e;
            color: #fff;
            
        }
        
    }
}